<div id="<%= dom_id diagnostic %>">
  <p>
    <strong>Appointment:</strong>
    <%= diagnostic.appointment_id %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= diagnostic.description %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= diagnostic.date %>
  </p>

  <p>
    <strong>Code diagnostic:</strong>
    <%= diagnostic.code_diagnostic %>
  </p>

</div>
