<div id="<%= dom_id medication %>">
  <p>
    <strong>Nom:</strong>
    <%= medication.nom %>
  </p>

  <p>
    <strong>Dosage:</strong>
    <%= medication.dosage %>
  </p>

  <p>
    <strong>Frequence:</strong>
    <%= medication.frequence %>
  </p>

  <p>
    <strong>Prescription:</strong>
    <%= medication.prescription_id %>
  </p>

</div>
