<div id="<%= dom_id patient %>">
  <p>
    <strong>Nom:</strong>
    <%= patient.nom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= patient.prenom %>
  </p>

  <p>
    <strong>Date naissance:</strong>
    <%= patient.date_naissance %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= patient.telephone %>
  </p>

</div>
