<div id="<%= dom_id doctor %>">
  <p>
    <strong>Nom:</strong>
    <%= doctor.nom %>
  </p>

  <p>
    <strong>Prenom:</strong>
    <%= doctor.prenom %>
  </p>

  <p>
    <strong>Telephone:</strong>
    <%= doctor.telephone %>
  </p>

  <p>
    <strong>User:</strong>
    <%= doctor.user_id %>
  </p>

  <p>
    <strong>Speciality:</strong>
    <%= doctor.speciality_id %>
  </p>

</div>
